<table class="table">
    <thead>
      <tr>
        <th scope="col">Name:</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>
        <th scope="col">Country</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
